################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api/bin/Debug/net7.0
/Api/obj
/Ui/node_modules/.cache/default-development
